src/test/resources/aggregate-validations.xml
<?xml version="1.0" encoding="UTF-8"?>
<mule xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xmlns:validation="http://www.mulesoft.org/schema/mule/validation"
      xmlns="http://www.mulesoft.org/schema/mule/core"
      xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
        http://www.mulesoft.org/schema/mule/validation http://www.mulesoft.org/schema/mule/validation/current/mule-validation.xsd">

    <flow name="all">
        <validation:all>
            <validation:is-url url="#[vars.url]"/>
            <validation:is-email email="#[vars.email]"/>
        </validation:all>
    </flow>

    <!-- MULE-15778 -->
    <!--     <flow name="allWithAnotherExtension"> -->
    <!--         <validation:all> -->
    <!--             <validation:is-url url="#[vars.url]"/> -->
    <!--             <heisenberg:validate-money/> -->
    <!--         </validation:all> -->
    <!--     </flow> -->

    <flow name="allWithNonValidationError">
        <validation:all>
            <validation:is-url url="#[vars.url]"/>
            <validation:is-email email="#[vars.email]"/>
            <validation:is-true expression="#[al;skdfha;ksdhfl;kjasdhfkljadsh]"/>
        </validation:all>
    </flow>

    <flow name="any">
        <validation:any>
            <validation:is-url url="#[vars.url]"/>
            <validation:is-email email="#[vars.email]"/>
        </validation:any>
    </flow>

    <!-- MULE-15778 -->
    <!--     <flow name="anyWithAnotherExtension"> -->
    <!--         <validation:any> -->
    <!--             <validation:is-url url="#[vars.url]"/> -->
    <!--             <heisenberg:validate-money/> -->
    <!--         </validation:any> -->
    <!--     </flow> -->

    <flow name="anyWithNonValidationError">
        <validation:any>
            <validation:is-url url="#[vars.url]"/>
            <validation:is-email email="#[vars.email]"/>
            <validation:is-true expression="#[al;skdfha;ksdhfl;kjasdhfkljadsh]"/>
        </validation:any>
    </flow>
</mule>
