src/test/resources/basic-validations.xml
<?xml version="1.0" encoding="UTF-8"?>
<mule xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xmlns:validation="http://www.mulesoft.org/schema/mule/validation"
      xmlns:spring="http://www.mulesoft.org/schema/mule/spring"
      xmlns="http://www.mulesoft.org/schema/mule/core"
      xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
        http://www.mulesoft.org/schema/mule/spring http://www.mulesoft.org/schema/mule/spring/current/mule-spring.xsd
        http://www.mulesoft.org/schema/mule/validation http://www.mulesoft.org/schema/mule/validation/current/mule-validation.xsd">

    <spring:config files="custom-validator-beans.xml" name="springConfig"/>

    <flow name="email">
        <validation:is-email email="#[payload]"/>
    </flow>

    <flow name="ip">
        <validation:is-ip ip="#[payload]"/>
    </flow>

    <flow name="url">
        <validation:is-url url="#[payload]" />
    </flow>

    <flow name="time">
        <validation:is-time time="#[payload]" pattern="#[vars.pattern]" locale="#[java!java::util::Locale::getDefault().getLanguage()]"/>
    </flow>

    <flow name="matchesRegex">
        <validation:matches-regex value="#[payload]" regex="#[vars.regexp]" caseSensitive="#[vars.caseSensitive]"/>
    </flow>

    <flow name="size">
        <validation:validate-size value="#[payload]" min="#[vars.minLength]" max="#[vars.maxLength]"/>
    </flow>

    <flow name="isTrue">
        <validation:is-true expression="#[payload]"/>
    </flow>

    <flow name="isFalse">
        <validation:is-false expression="#[payload]"/>
    </flow>

    <flow name="notEmpty">
        <validation:is-not-empty-collection values="#[payload]"/>
    </flow>

    <flow name="notEmptyWithCustomMessage">
        <validation:is-not-empty-collection values="#[payload]" message="Payload is empty"/>
    </flow>

    <flow name="empty">
        <validation:is-empty-collection values="#[payload]"/>
    </flow>

    <flow name="notBlank">
        <validation:is-not-blank-string value="#[payload]"/>
    </flow>

    <flow name="blank">
        <validation:is-blank-string value="#[payload]"/>
    </flow>

    <flow name="isNull">
        <validation:is-null value="#[payload]"/>
    </flow>

    <!--TODO MULE-13440-->
    <!--<flow name="all">-->
        <!--<validation:all>-->
            <!--<validation:validations>-->
                <!--<validation:is-url url="#[vars.url]"/>-->
                <!--<validation:is-email email="#[vars.email]"/>-->
            <!--</validation:validations>-->
        <!--</validation:all>-->
    <!--</flow>-->

    <flow name="choice">
        <choice>
            <when expression="#[Validation::isEmail(payload)]">
                <set-payload value="valid" />
            </when>
            <otherwise>
                <set-payload value="invalid" />
            </otherwise>
        </choice>
    </flow>

    <flow name="customValidationByClass">
        <validation:custom-validator class="org.mule.extension.validation.BasicValidationTestCase$TestCustomValidator" message="#[vars.customMessage]" />
    </flow>

    <flow name="customValidationByRef">
        <validation:custom-validator ref="customValidator" />
    </flow>

</mule>
