src/test/resources/ip-filter-validations.xml
<?xml version="1.0" encoding="UTF-8"?>
<mule xmlns="http://www.mulesoft.org/schema/mule/core"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xmlns:validation="http://www.mulesoft.org/schema/mule/validation"
      xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
       http://www.mulesoft.org/schema/mule/validation http://www.mulesoft.org/schema/mule/validation/current/mule-validation.xsd">

    <!-- +++++++++++++++++++++++++++++++++++ -->

    <flow name="flow_allowlist_ipv4">
        <validation:is-allowed-ip allowList="allowlist_ipv4" ipAddress="#[vars.ip]"/>
        <set-payload value="Valid IP"/>
    </flow>

    <validation:ip-filter-list name="allowlist_ipv4">
        <validation:ips>
            <validation:ip value="192.168.1.0/24"/>
            <validation:ip value="127.0.0.1"/>
            <validation:ip value="193.1"/>
        </validation:ips>
    </validation:ip-filter-list>

    <!-- +++++++++++++++++++++++++++++++++++ -->

    <flow name="flow_denylist_ipv4">
        <validation:is-not-denied-ip denyList="deniedlist_ipv4" ipAddress="#[vars.ip]"/>
        <set-payload value="Valid IP"/>
    </flow>

    <validation:ip-filter-list name="deniedlist_ipv4">
        <validation:ips>
            <validation:ip value="10.0.0.1/24"/>
        </validation:ips>
    </validation:ip-filter-list>

    <!-- +++++++++++++++++++++++++++++++++++ -->

    <flow name="flow_allowlist_ipv6">
        <validation:is-allowed-ip allowList="list_ipv6" ipAddress="#[vars.ip]"/>
        <set-payload value="Valid IP"/>
    </flow>

    <flow name="flow_denylist_ipv6">
        <validation:is-not-denied-ip denyList="list_ipv6" ipAddress="#[vars.ip]"/>
        <set-payload value="Valid IP"/>
    </flow>

    <validation:ip-filter-list name="list_ipv6">
        <validation:ips>
            <validation:ip value="2001:db8::/48"/>
        </validation:ips>
    </validation:ip-filter-list>

</mule>
